.carousel-item{
    height: 32rem;
    background-color: grey;
    color: white;
    position: relative;
}
.container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}
.carousel-indicators > li {
  border-radius: 50%;
  height: 12px !important;
  width: 12px !important;
}