.img-profile{
    width: 120px;
    margin-top: 250px;
}

.btn-accesso {
    background-color: rgb(177 232 98) !important;
    border-color: transparent !important;
}

/*.btn:active, .btn:focus > .btn-accesso {
    text-shadow: #719c3a !important;
}*/

.form-signin {
    width: 100%;
    max-width: 330px;
    height:auto;
    padding: 13px;
    margin: 0 auto;
}
.img-profile{
    margin-top: 4vw;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
@media screen and (max-width:576px) { /* <=1400px */
    .access-container{
        margin-bottom:50px !important;
    }
}
@media screen and (max-width: 1400px) { /* <=1400px */
    .access-container {
        margin-left: 15%;
        width: 70%;
        margin-top: 120px;
        background-color: #faf9fa;
        border-radius: 7%;
    }
}
@media screen and (min-width: 1400px) { /* >1400px */
    .access-container {
        margin-left: 15%;
        width: 73%;
        margin-top: 140px;
        background-color: #faf9fa;
        border-radius: 50px;
        height: 80%;
    }
}