.box-nome {
    background-color: grey !important;
    height: 30px !important;
    border-color: black !important;
    border-width: 1px !important;
    border-style: solid;
}
.box-quantità {
    background-color: grey !important;
    height: 30px !important;
    border-color: black !important;
    border-width: 1px !important;
    border-style: solid;
}
.box-restock {
    background-color: grey !important;
    height: 30px !important;
    border-color: black !important;
    border-width: 1px !important;
    border-style: solid;
}
.box-container{
    margin-bottom:3px;
}
.btn-restock{
    font-size:10px;
    margin-top:5px;
    height:30px;
}
.adm-page{
    margin-top: 10%;
}
.text{
    margin-bottom:0px;
}
@media screen and (max-width: 575px) {
    /* XS */
    .container {
        margin-top: 65px;
    }
    .form-signout{
        margin-top:6px;
    }
    .text {
        margin-top: 5px;
    }
    .adm-page {
        margin-bottom: 40px !important;
    }
    .btn-restock {
        width: 200px;
        height: 20px;
    }
    .element {
        margin-bottom: 6px;
    }
}
@media screen and (min-width: 576px) {
    .form-signout {
        margin-top: 10px;
    }
    .container {
        margin-top: 100px;
    }
}
