.row-below-first {
  margin-top: 1% !important;
}
.carrello-list {
  margin-top: 7% !important;
}
.img-cart-prod {
  width: 60%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.nome-prod-list {
  line-height: 10vw !important;
}

.list-item {
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  background-color: #f8f4f0;
  border-radius: 15px 15px 0 0;
}
.btn-quantita {
  margin-top: 10% !important;
}
.btn-list-carrello {
  width: 90%;
  height: 40%;
  margin-top: 30%;
  border-radius: 10px !important;
  background-color: lightgreen !important;
  border-style: none !important;
}
input.carrello-list-quant {
  background-color: #f8f4f0;
}
.rimuovi {
  margin-top: 68%;
  width: 50%;
  color: white;
  background-color: rgb(221, 80, 80) !important;
  border-radius: 10px !important;
  border-style: none !important;
}
