* {
    user-select: none;
}
a:-webkit-any-link {
    text-decoration: none;
    color: black;
}
.navcandy {
    padding: 0px;
}
img {
    pointer-events: none;
}
.caramella {
    padding: 0px;
}
.caramellaimg {
    border-radius: 10%;
    width: 50%;
    height: 100px;
}
.prodottoimg {
    width: 100%;
    height: 500px;
}
.btnAcquisto {
    padding: 0;
}
.btnMeno {
    background-color: #D600BF;
    text-align: center;
    color: #FF8A00;
    font-size: 33px;
    font-family: 'Bungee', cursive;
}
.btnPiu {
    text-align: center;
    background-color: #FF8A00;
    color: #D600BF;
    font-size: 33px;
    font-family: 'Bungee', cursive;
}
.btnCompra {
    background-color: green;
}
.btnCarrello {
    background-color: #FF8A00;
    border-color: #E67C00;
    border-width: 3px;
}

@media screen and (max-width: 321px) { /* XXS --> iPhone 5/SE */
    .logoimg {
        max-width: 100px;
    }
    .shopcartimg {
        max-width: 35px;
    }
    .adminimg {
        max-width: 35px;
    }
}
@media screen and (max-width: 575px) { /* XS */
    .logoimg {
        max-width: 150px;
    }

    .shopcartimg {
        max-width: 40px;
    }

    .adminimg {
        max-width: 40px;
    }
    .nomeProdotto {
        font-size: 50px;
        margin-bottom: 5%;
    }
}
@media screen and (min-width: 576px) { /* SM */
    .logoimg {
        max-width: 180px;
    }

    .shopcartimg {
        max-width: 43px;
    }

    .adminimg {
        max-width: 43px;
    }
}
@media screen and (min-width: 768px) { /* MD */
    .logoimg {
        max-width: 230px;
    }

    .shopcartimg {
        max-width: 57px;
    }

    .adminimg {
        max-width: 57px;
    }
    .nomeProdotto {
        font-size: 70px;
        margin-bottom: 4%;
    }
}
@media screen and (min-width: 992px) { /* LG */
    .logoimg {
        max-width: 320px;
    }

    .shopcartimg {
        max-width: 75px;
        margin-right: 5px;
    }

    .adminimg {
        max-width: 75px;
    }
    .nomeProdotto {
        font-size: 60px;
        margin-bottom: 6%;
    }
    .sezioneAcquisto {
        margin-top: 15%;
    }
    .textQuant {
        margin-left: 1%;
        margin-right: 3%;
        padding-top: 4%;
    }
    .btnAcquisto {
        height: 50px;
    }
    .btnPiu {
        width: 50px;
        border-radius: 20%;
    }
    .btnMeno {
        width: 50px;
        border-radius: 20%;
    }
    .btnCompra {
        width: 100%;
        border-radius: 10px;
        font-size: 28px;
    }
    .btnCarrello {
        width: 80px;
    }
    .shopcartProdimg {
        width: 40%;
        height: auto;
    }
}
@media screen and (min-width: 1200px) { /* XL */
    .logoimg {
        max-width: 400px;
    }
}
@media screen and (min-width: 1400px) { /* XXL */
}