* {
    user-select: none;
}

a:-webkit-any-link {
    text-decoration: none;
    color: black !important;
}

.navcandy {
    padding: 0px;
}

img {
    pointer-events: none;
}

.img-box{
    height: 200px;
}

.candy-img{
    height: 100% !important;
}

.box {
    background-color: #faf9fa;
    border-radius: 1.5vw;
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
}
.detail-box{
    margin-top: 2%;
}

.slide {
    background-color: grey;
    border-radius: 0 0 0 200px;
}

.carousel-item {
    height: 32rem;
    color: white;
    position: relative;
}

.carousel-indicators > li {
    border-radius: 50%;
    height: 12px !important;
    width: 12px !important;
}

.carousel-indicators > li.active {
    background-color: greenyellow;
}

@media screen and (max-width: 321px) { /* XXS --> iPhone 5/SE */
    .logoimg {
        max-width: 100px;
    }

    .shopcartimg {
        max-width: 35px;
    }

    .adminimg {
        max-width: 35px;
    }
}

@media screen and (max-width: 575px) { /* XS */
    .logoimg {
        max-width: 150px;
    }

    .shopcartimg {
        max-width: 40px;
    }

    .adminimg {
        max-width: 40px;
    }
}

@media screen and (min-width: 576px) { /* SM */
    .logoimg {
        max-width: 180px;
    }

    .shopcartimg {
        max-width: 43px;
    }

    .adminimg {
        max-width: 43px;
    }
}

@media screen and (min-width: 768px) { /* MD */
    .logoimg {
        max-width: 230px;
    }

    .shopcartimg {
        max-width: 57px;
    }

    .adminimg {
        max-width: 57px;
    }
}

@media screen and (min-width: 992px) { /* LG */
    .logoimg {
        max-width: 320px;
    }

    .shopcartimg {
        max-width: 75px;
        margin-right: 5px;
    }

    .adminimg {
        max-width: 75px;
    }
    .nomeProdottoLista {
        margin-left: 2%;
    }
}

@media screen and (min-width: 1200px) { /* XL */
    .logoimg {
        max-width: 400px;
    }
    .nomeProdottoLista{
        margin-left: 3%;
    }
}

@media screen and (min-width: 1400px) { /* XXL */
}
