input.quantity {
    border: none;
    text-align: center;
    width: 3rem;
    height: 3rem;
    padding: 0;
    overflow: visible;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-width: 321px) { /* XXS --> iPhone 5/SE */
}

@media screen and (max-width: 575px) { /* XS */
}

@media screen and (min-width: 576px) { /* SM */
}

@media screen and (min-width: 768px) { /* MD */
}

@media screen and (min-width: 992px) { /* LG */
}

@media screen and (min-width: 1200px) { /* XL */
}

@media screen and (min-width: 1400px) { /* XXL */
    .img-prodotto {
        width: 60%;
        margin-top: 13%;
        margin-right: 20%;
    }
    .info-prodotto {
        margin-top: 8% !important;
    }
    .disp-prodotto{
        margin-top: 3% !important;
    }
    .btn-meno{
        width: 7%;
    }
    .btn-piu {
        width: 7%;
    }
    .btn-compra{
        width: 150%;
    }
    .btn-carrello{
        width: 50%;
    }
}
