input.quantity {
    border: none;
    text-align: center;
    width: 3rem;
    height: 3rem;
    padding: 0;
    overflow: visible;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-prodotto {
    background-color: rgb(177 232 98) !important;
    border-color: transparent !important;
}

.quant-text-prodotto{
    text-align: right;
}

@media screen and (max-width: 321px) { /* XXS --> iPhone 5/SE */
}

@media screen and (max-width: 575px) { /* XS */
}

@media screen and (min-width: 576px) { /* SM */
}

@media screen and (min-width: 768px) { /* MD */
    .img-prodotto {
        width: 75%;
        margin-top: 10%;
    }

    .info-prodotto {
        margin-top: 13% !important;
    }

    .disp-prodotto {
        margin-top: 3% !important;
    }

    .quant-text-prodotto {
        padding-top: 5%;
    }

    .prezzo-text {
        padding-top: 6%;
        font-size: 2.1vw;
    }

    .sez-quant {
        margin-top: 6% !important;
    }

    .sez-acquisto {
        margin-top: 2% !important;
    }

    .btn-meno {
        width: 40px;
    }

    .btn-piu {
        width: 40px;
    }

    .btn-compra {
        width: 150%;
    }

    .btn-carrello {
        width: 50%;
    }
}

@media screen and (min-width: 992px) { /* LG */
    .img-prodotto {
        width: 85%;
        margin-top: 25%;
        margin-right: 6%;
    }

    .info-prodotto {
        margin-top: 13% !important;
    }

    .disp-prodotto {
        margin-top: 3% !important;
    }

    .quant-text-prodotto {
        padding-top: 5%;
    }

    .prezzo-text {
        padding-top: 6%;
        font-size: 2.1vw;
    }

    .sez-quant {
        margin-top: 6% !important;
    }

    .sez-acquisto {
        margin-top: 2% !important;
    }

    .btn-meno {
        width: 40px;
    }

    .btn-piu {
        width: 40px;
    }

    .btn-compra {
        width: 150%;
    }

    .btn-carrello {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) { /* XL */
    .img-prodotto {
        width: 70%;
        margin-top: 20%;
        margin-right: 20%;
    }

    .info-prodotto {
        margin-top: 10% !important;
    }

    .prezzo-text {
        padding-top: 6%;
        font-size: 2.3vw;
    }
}

@media screen and (min-width: 1400px) { /* XXL */
    .img-prodotto {
        width: 60%;
        margin-top: 13%;
    }
    .info-prodotto {
        margin-top: 8% !important;
    }
    .prezzo-text{
        padding-top: 5%;
    }
}
