.prodottoimg {
    width: 100%;
    height: 500px;
}

.btnAcquisto {
    padding: 0;
}

.btnMeno {
    background-color: #D600BF;
    text-align: center;
    color: #FF8A00;
    font-size: 33px;
    font-family: 'Bungee', cursive;
}

.btnPiu {
    text-align: center;
    background-color: #FF8A00;
    color: #D600BF;
    font-size: 33px;
    font-family: 'Bungee', cursive;
}

.btnCompra {
    background-color: #9ae674;
}

.btnCarrello {
    background-color: #FF8A00;
    border-color: #E67C00;
    border-width: 3px;
}
input.quantity {
    border: none;
    text-align: center;
    width: 3rem;
    height: 3rem;
    padding: 0;
    overflow: visible;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-width: 321px) { /* XXS --> iPhone 5/SE */
}

@media screen and (max-width: 575px) { /* XS */
    .nomeProdotto {
        font-size: 50px;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 576px) { /* SM */
}

@media screen and (min-width: 768px) { /* MD */
    .logoimg {
        max-width: 230px;
    }

    .shopcartimg {
        max-width: 57px;
    }

    .adminimg {
        max-width: 57px;
    }

    .nomeProdotto {
        font-size: 70px;
        margin-bottom: 4%;
    }
}

@media screen and (min-width: 992px) { /* LG */
    .nomeProdotto {
        font-size: 60px;
        margin-bottom: 6%;
    }

    .sezioneAcquisto {
        margin-top: 15%;
    }

    .textQuant {
        margin-left: 1%;
        margin-right: 3%;
        padding-top: 4%;
    }

    .btnAcquisto {
        height: 50px;
    }

    .btnPiu {
        width: 50px;
        border-radius: 20%;
    }

    .btnMeno {
        width: 50px;
        border-radius: 20%;
    }

    .btnCompra {
        width: 100%;
        border-radius: 10px;
        font-size: 28px;
    }

    .btnCarrello {
        width: 80px;
    }

    .shopcartProdimg {
        width: 40%;
        height: auto;
    }
}

@media screen and (min-width: 1200px) { /* XL */
}

@media screen and (min-width: 1400px) { /* XXL */
}
