/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  left: 0px;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
    border-top: 1px solid #e804c0;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  height: auto;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 20px;
}

.body {
  margin-bottom: 300px;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.ris-bold{
    font-weight: bold;
    color: black;
    font-size: 14px;
}

footer a{
    color: black !important;
}

.footer-title{
    color:black;
    font-size: 13px;
}

p {
    margin-bottom: 12px;
}

ul li {
  list-style: none;
}

.footer {
    width: 100%;
    border-top: 1px solid #e804c0; /* primary-color */
    text-align: center;
    padding: 30px 10px;
    line-height: 1.6em;
    font-size: 0.8em;
    background-color: #ffe58f; /* primary color #adadad*/
    color: #fff;
    position: absolute;
    bottom: 0;
    height: auto;
}

footer a {
  color: black; /* secondary-color*/
}

    footer a:hover {
        color: #292929; /* lighter seconday color*/
    }

footer .credits {
  max-width: 300px;
  margin: auto;
}

/*footer .credits a img {
  -o-transition: opacity 0.2 ease-in;
  -ms-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease;
}*/

footer .credits a img:hover {
  opacity: 0.6;
}

footer .social-cont .social-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 10px 0;
}

footer .social-cont .social-list > li {
  margin: 8px 8px 8px 0;
  display: inline-block;
  vertical-align: top;
  height: 40px;
  width: 40px;
  border-radius: 6em;
}

.instagram-img,
.twitter-img,
.facebook-img{
    margin-top: 0px;
}

footer .social-cont .social-list li img {
  width: 40px;
}
footer .social-cont .social-list > li.instagram-img:hover {
    /* Instagram */
    background: #e804c0;
}

footer .social-cont .social-list > li.twitter-img:hover {
    /* Twitter */
    background: #e804c0;
}

footer .social-cont .social-list > li.facebook-img:hover {
    /* Facebook */
    background: #e804c0;
}

footer .shipping .shipping-img {
    margin-top: 20px;
}
HEAD

footer .risorse{
    margin-top: 20px;
}

footer .ris-list{
    margin-top:30px;
}
@media screen and (min-width: 400px) {
    footer .shipping .shipping-img {
        margin-top: 20px;
        padding-left: 30px;
        width: 130px;
    }
    .prova{
        padding:0px !important;
        margin-left:20px;

    }
    .box{
        margin-bottom:100px;
    }
}

@media screen and (min-width: 576px) {
    footer .shipping .shipping-img {
        margin-top: 20px;
        width: 150px;
        padding-left: 0px;
    }

    .prova{
        padding:0px !important;
        margin-left:30px;
    }

}

@media screen and (min-width: 768px) {
    footer .shipping .shipping-img {
        margin-top: 20px;
        margin-left: 0px !important;
        width: 200px;
    }
}

@media screen and (min-width: 992px) {
    footer .shipping .shipping-img {
        margin-top: 20px;
        padding-left: 30px;
        width: 200px;
    }
}

@media screen and (min-width: 1200px) {
    footer .shipping .shipping-img {
        margin-top: 10px;
        padding-left: 20px;
        width: 200px;
    }
}

@media screen and (min-width: 1400px) {
    footer .shipping .shipping-img {
        margin-top: 20px;
        margin-left: 0px;
        width: 200px;
    }
footer .risorse{
    margin-top:10px;
}
}