@page
@model CarrelloModel
@{
    ViewData["Title"] = "Carrello";
}
<div class="text-center">
    <div class="row">
        <div class="col-10 offset-1 item-carrello">
            <p>Carrello item</p>
        </div>
    </div>
</div>