@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <div class="row">
        @{
            string[] caramelle = new string[4] {"Caramella Rossa", "Caramella Verde", "Caramella Blu", "Caramella Gialla" };
            for (int i = 0; i < caramelle.Length; i++)
            {
                <div class="col-12 col-md-6 col-lg-3 caramella">
                    <a asp-page="/Prodotto" asp-route-ID=@Model.FormatCandy(caramelle[i])><img class="caramellaimg" src="~/images/caramella.jpg" /></a>
                    @caramelle[i]
                    @{
                        Disp(0);
                    }
                </div>
            }
            if (Program.modifiedProducts)
            {
                Program.products.Add(new Prodotto { nome = "pomodoro", quantita = 200, prezzo = 3.99 });
                Program.modifiedProducts = false;
            }
        }
    </div>
</div>

@{
    void Disp(int i)
    {
        if (true)
        {
            <p>Prodotto</p>
        }
        else
        {
            <p style="color: red;">Esaurito</p>
        }
    }
}