@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <div class="row">
        <div class="carousel slide container-fluid" id="candyCarousel" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li type="button" data-bs-target="#candyCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></li>
                <li type="button" data-bs-target="#candyCarousel" data-bs-slide-to="1" aria-label="Slide 2">
                </li>
                <li type="button" data-bs-target="#candyCarousel" data-bs-slide-to="2" aria-label="Slide 3">
                </li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row container-slide">
                        <div class="col-lg-3 offset-lg-2">
                            <p class="slide-text">
                                Prova i nuovi arrivati, fidati che non te ne pentirai :b
                            </p>
                        </div>
                        <div class="col-lg-6 offset-lg-1">
                            <img src="/images/slide1.png" class="carousel-img">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row container-slide">
                        <div class="col-lg-3 offset-lg-2">
                            <p class="slide-text">
                                Prova i nuovi arrivati, fidati che non te ne pentirai :b
                            </p>
                        </div>
                        <div class="col-lg-6 offset-lg-1">
                            <img src="/images/slide2.png" class="carousel-img">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row container-slide">
                        <div class="col-lg-3 offset-lg-2">
                            <p class="slide-text">
                                Prova i nuovi arrivati, fidati che non te ne pentirai :b
                            </p>
                        </div>
                        <div class="col-lg-6 offset-lg-1">
                            <img src="/images/slide3.png" class="carousel-img">
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#candyCarousel"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#candyCarousel"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>
        </div>
    </div>
    <div class="row">
        <h1 class="products-title">Ultimi Arrivati</h1>
    </div>
    @{ Program.UpdateList(); }
<div class="row">
    @{
        for (int i = 0; i < Program.products.Count; i++)
        {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="box">
                    <a asp-page="/Prodotto" asp-route-ID=@Program.products[i].nome>
                        <div class="img-box">
                            <img class="img-fluid candy-img" src="~/images/@Program.p.FormatCandy(Program.products[i].nome)" />
                        </div>
                        <div class="row detail-box">
                            @{
                                if (@Program.products[i].quantita > 0)
                                {
                                    <div class="col-3 d-flex justify-content-start nomeProdottoLista">
                                        <h5>@Program.products[i].nome</h5>
                                    </div>
                                    <div class="col-4 d-flex justify-content-end offset-lg-4">
                                        <h5>Prezzo: @Program.products[i].prezzo€</h5>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-3 d-flex justify-content-start nomeProdottoLista">
                                        <h5>@Program.products[i].nome</h5>
                                    </div>
                                    <div class="col-3 d-flex justify-content-end offset-lg-5">
                                        <h5 style="color: red;">Esaurito</h5>
                                    </div>
                                }
                            }
                        </div>
                    </a>
                </div>
            </div>
        }
    }
</div>
</div>