@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3 caramella">
            <a asp-page="/Prodotto" asp-route-ID="caramella_rossa"><img class="caramellaimg" src="~/images/caramella-spiro-fucsia-cm-40x82x10-h.jpg" /></a>
            Caramella Rossa
            @{ Disp(0); }
        </div>
        <div class="col-12 col-md-6 col-lg-3 caramella">
            <a asp-page="/Prodotto" asp-route-ID="caramella_verde"><img class="caramellaimg" src="~/images/caramella-spiro-fucsia-cm-40x82x10-h.jpg" /></a>
            Caramella verde
            @{ Disp(0); }
        </div>
        <div class="col-12 col-md-6 col-lg-3 caramella">
            <a asp-page="/Prodotto" asp-route-ID="caramella_blu"><img class="caramellaimg" src="~/images/caramella-spiro-fucsia-cm-40x82x10-h.jpg" /></a>
            Caramella blu
            @{ Disp(0); }
        </div>
        <div class="col-12 col-md-6 col-lg-3 caramella">
            <a asp-page="/Prodotto" asp-route-ID="caramella_gialla"><img class="caramellaimg" src="~/images/caramella-spiro-fucsia-cm-40x82x10-h.jpg" /></a>
            Caramella gialla
            @{ Disp(0); }
        </div>
    </div>
</div>

@{
    void Disp(int i)
    {
        if (true)
        {
            <p>Prodotto</p>
        }
        else
        {
            <p style="color: red;">Esaurito</p>
        }
    }
}