@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <div class="row">
        @{
            if (Program.modifiedProducts)
            {
                //Program.products.Add(new Prodotto { nome = "pomodoro", quantita = 200, prezzo = 3.99 });
                Program.modifiedProducts = false;
            }
            for (int i = 0; i < Program.products.Count; i++)
            {
                <div class="col-12 col-md-6 col-lg-3 caramella">
                            <a asp-page="/Prodotto" asp-route-ID=@Program.products[i].nome>
                                <img class="img-fluid caramellaimg" src="~/images/@Program.p.FormatCandy(Program.products[i].nome)" />
                                <p>@Program.products[i].nome</p>
                                @{
                                    Disp(0);
                                }
                            </a>
                </div>
            }
        }
    </div>
</div>

@{
    void Disp(int i)
    {
        if (true)
        {
            <p>Prodotto</p>
        }
        else
        {
            <p style="color: red;">Esaurito</p>
        }
    }
}