@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    @{ Program.UpdateList(); }
    <div class="row">
        @{
            for (int i = 0; i < Program.products.Count; i++)
            {
                <div class="col-12 col-md-6 col-lg-3 caramella">
                    <a asp-page="/Prodotto" asp-route-ID=@Program.products[i].nome>
                    <img class="img-fluid caramellaimg" src="~/images/@Program.p.FormatCandy(Program.products[i].nome)" />
                    @{
                        Disp(@Program.products[i]);
                    }
                    </a>
                </div>
            }
        }
    </div>
</div>

@{
    void Disp(Prodotto prod)
    {
        if (prod.quantita > 0)
        {
            <p>@prod.nome<br/>
               @prod.prezzo€
            </p>
        }
        else
        {
            <p style="color: red;">Esaurito</p>
        }
    }
}