@page
@model Candy.Pages.ProvaModel
@{
}
@* su @page -> "{id}" per vsualizzare sul link l'id del parametro, questo inoltre sarà necessario per visualizzare la
    pagina *@
<div class="text-center">
    <h1 class="display-4">Pagina del prodotto</h1>
    <p>valore passato per parametro alla pagina: @Model.id</p>
    <p>Vediamo se funziona: @Model.ProductData()</p>
</div>