@page
@model Candy.Pages.ProvaModel
@{
}
@* su @page -> "{id}" per vsualizzare sul link l'id del parametro, questo inoltre sarà necessario per visualizzare la pagina *@
<div class="text-center">
    <h1 class="display-4">Prova</h1>
    <p>Prova @Model.id</p>
</div>